.navigation-bar {
  background-color: #f8f9fa;
}

.navigation-dropdown {
  display: none;
  padding-left: 0;
  list-style: none;
  background-color: #f8f9fa;
  z-index: 2;
  min-width: 150px;
  @media only screen and (min-width: 768px) {
    position: absolute;
  }
}

.navigation-dropdown-toggle {
  &:before {
    content:"\f078";
  }
  @media only screen and (min-width: 992px) {
    display: none;
  }
}


.navigation-item {
  position: relative;
  @media only screen and (min-width: 992px) {
    &:hover {
      .navigation-dropdown {
        display: block;
      }
    }
  }
}
