.navigation-bar {
  background-color: #f8f9fa;
 .navbar {
    padding: 0;
  }
}

.nav-link.has-children {
  &:after {
    content:'>';
  };
}

.navigation-dropdown {
  display: none;
  padding-left: 0;
  list-style: none;
  background-color: #f8f9fa;
  z-index: 2;
  min-width: 200px;
  @media only screen and (min-width: 992px) {
    position: absolute;
  }
}

.navigation-dropdown.open {
  @media only screen and (max-width: 992px) {
    display: block;
  }
}

.navigation-dropdown-toggle {
  &:before {
    content:"\f078";
  }
  @media only screen and (min-width: 992px) {
    display: none;
  }
}

.navigation-item {
  position: relative;
  @media only screen and (min-width: 992px) {
    &:hover {
      .navigation-dropdown {
        display: block;
      }
    }
  }
}
